/** @format */

$PrimaryColor: #ffce03;
$SecondaryColor: #262626;
$WhiteColor: #fbf8f4;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: $WhiteColor;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wak-cta {
  height: auto;
  width: 100%;
  max-width: 1360px;
  min-height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    margin: 50px 20px;
  }

  &-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
    width: 100%;
    height: 100%;
    background: $PrimaryColor;
    padding: 40px 40px;
    @include border-radius(20px);

    &-cta-headings {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 70%;
      height: 100%;
      background: $PrimaryColor;
      padding: 20px 0px;

      @media screen and (max-width: 1023px) {
        width: 100%;
      }

      &-overline {
        font-size: 16px;
        font-weight: 500;
        line-height: 105%;
        font-family: "Rubik", sans-serif;
        color: $SecondaryColor;
      }

      &-title {
        font-size: 40px;
        font-weight: 500;
        line-height: 110%;
        color: $SecondaryColor;
        text-align: left;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        line-height: 110%;

        @media screen and (max-width: 1023px) {
          font-size: 2rem;
        }
      }
    }

    &-cta-cards {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, auto);
      gap: 1rem;
      margin: 30px 0px 0px 0px;

      &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        align-items: start;
        width: 100%;
        height: 288px;
        border: 2px solid #edd884cb;
        padding: 20px 20px;
        @include border-radius(5px);

        &-text {
          font-size: 1.2rem;
          font-weight: 500;
          color: $SecondaryColor;
          width: 100%;
          text-align: left;
          font-family: "Rubik", sans-serif;
          font-weight: 500;

          @media screen and (max-width: 1023px) {
            font-size: 1rem;
          }
        }

        &-number {
          font-size: 3.5rem;
          font-weight: 700;
          width: 100%;
          color: $SecondaryColor;
          text-align: right;
          font-family: "Rubik", sans-serif;
          font-weight: 500;
        }
      }

      @media screen and (max-width: 1023px) {
        grid-template-columns: 1fr;
      }
    }

    &-cta-button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $WhiteColor;
      width: 384px;
      height: 288px;
      padding: 40px 30px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border-top-right-radius: 20px;
        box-shadow: 15px -15px 0px 0px $WhiteColor;
      }

      &::after {
        top: 0;
        left: -32px;
      }

      &::before {
        bottom: -32px;
        right: 0;
      }

      &-arrow {
        margin: 0;
        padding: 0;

        img {
          padding: 4px;
          @include border-radius(50%);
          background-color: $SecondaryColor;
        }
      }

      &-text {
        color: $SecondaryColor;
        font-family: "Rubik", sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: 110%;
      }

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
