* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: #f2f2f2;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 100px 0px;

  background: var(--Canvas-canvas-contrast, #fff);
}

.wak-goals {
  width: 1280px;
  background: #faf1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-spacing-lg, 40px);
  align-self: stretch;

  &-heading {
    color: var(--Text-text-primary, #262626);

    /* Display/Display H2 */
    font-family: var(--fonts-weights-heading-font, "Galano Grotesque");
    font-size: var(--Sizes-display-h2, 48px);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 48px */
  }

  &-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--Spacing-spacing-sm, 16px);
    align-self: stretch;

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    }

    &-item {
      display: flex;
      height: 280px;
      padding: var(--Padding-top-bottom-sm, 24px) var(--Padding-sides-md, 24px);
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      border-radius: var(--Radius-radius-default, 20px);
      background: var(--Canvas-canvas-contrast, #fff);

      &-icon {
        width: 100%;
        display: flex;
        justify-content: end;

        img {
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: var(--Radius-radius-circle, 100px);
          background: var(--Icons-icon-bg, #fff0b3);
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        &-heading {
          color: var(--Text-text-primary, #262626);

          /* Headings/H4 */
          font-family: var(--fonts-weights-heading-font, "Galano Grotesque");
          font-size: var(--Sizes-h4, 30px);
          font-style: normal;
          font-weight: 500;
          line-height: 110%; /* 33px */
        }

        &-paragraph {
          color: var(--Text-text-secondary, #7c7c7c);

          /* Body/Small */
          font-family: var(--fonts-weights-body-font, "Sofia Pro");
          font-size: var(--Sizes-Small, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }
    }
  }
}
