* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  background: var(--Canvas-canvas-primary, #ffffff);
}

.container {
  display: flex;
  padding: 0px var(--Padding-sides-xl-default, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-spacing-blocks, 96px);
  align-self: stretch;

  @media screen and (min-width: 1024px) {
    display: flex;
    padding: 0px var(--Padding-sides-xl-default, 80px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-spacing-blocks, 120px);
    align-self: stretch;
  }

  .wak-contact-us-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-spacing-blocks, 96px);
    align-self: stretch;

    @media screen and (min-width: 1024px) {
      max-width: 1280px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--Spacing-spacing-xxl, 80px);
      align-self: stretch;
    }

    &-content {
      display: flex;
      max-width: 400px;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--Spacing-spacing-md, 24px);
      align-self: stretch;

      @media screen and (min-width: 1024px) {
        display: flex;
        max-width: 400px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Spacing-spacing-md, 24px);
        flex: 1 0 0;
      }

      &-text {
        color: var(--Text-text-primary, #262626);
        font-feature-settings: "liga" off, "clig" off;

        /* Body/Large */
        font-size: var(--Sizes-Large, 24px);
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 33.6px */
      }

      &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--Spacing-spacing-xxs, 8px);
        align-self: stretch;

        &-item {
          display: flex;
          align-items: center;
          gap: var(--Spacing-spacing-xxs, 8px);

          img {
            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;
          }

          span {
            color: var(--Text-text-primary, #262626);

            /* UI/Standard */
            font-size: var(--Sizes-Standard, 18px);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
          }
        }
      }

      &-note {
        display: flex;
        padding: 12px var(--Spacing-spacing-sm, 16px) 12px 12px;
        align-items: flex-start;
        gap: var(--Spacing-spacing-xxs, 8px);
        align-self: stretch;
        border-radius: var(--blocks, 8px);
        border: var(--stroke-md, 1px) solid var(--Validation-warning-stroke, #fff0b9);
        background: var(--Validation-warning-bg, #fffae8);

        img {
          width: 24px;
          height: 24px;
        }

        &-text {
          color: var(--Text-text-primary, #262626);

          /* UI/Small */
          font-size: var(--Sizes-Small, 14px);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
        }
      }
    }

    &-wrapper {
      display: flex;
      max-width: 400px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      @media screen and (min-width: 1024px) {
        display: flex;
        max-width: 400px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
      }
    }
  }
}
